<body>
    <main>
        <div class="ptable">
            <table>
                <tr class="col">
                    <th> </th>
                    <th (click)="sortTableByLiga()">Liga</th>
                    <th (click)="sortTableByMoney()">Última Apuesta</th>
                </tr>
                <tr class="wpos" *ngFor="let item of activeBetLeagues | keyvalue:returnZero; index as i">
                    <td>{{i+1}}</td>
                    <td>{{getKey(item.value)}}</td>
                    <td>{{getValue(item.value)}}</td>
                </tr>
            </table>
        </div>
    </main>
</body>