main {
    background-color: rgba(243, 236, 236, 0.7);
	display: flex;
    width: 150px;
	height: 75px;
    border: 2px solid black;
    border-color: black;
}

.text{
    color: aliceblue;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 2px;
}

  .value {
    font-size: 12px;
    text-align: right;
  }

  .green {
    color: green;
  }
  
  .red {
    color: red;
  }
  
  .blue {
    color: blue;
  }