.cuadro {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--navMenuWidth);
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Centra verticalmente los elementos */
}

.logo {
    width: 80px;
    height: 80px;
	  margin-top: 10px;
    background-image: url('src/assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.totalMoneyText{  
  margin-top: 10px;
	font-size: 12px;
}






.dropdown{
	margin-left: 320px;
	display: inline-block;
	position: relative;
}


/* Dropdown Button */
.dropbtn {
	background-color: #8304aa;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: solid;
	border-radius: 16px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #d000ff;}
