.cuadro {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--navMenuWidth);
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Centra verticalmente los elementos */
}

.logo {
    width: 80px;
    height: 80px;
	  margin-top: 10px;
    background-image: url('src/assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.totalMoneyText{  
  margin-top: 10px;
	font-size: 12px;
}

.progressChart
{  
  margin-left: 10px;
  width: 40vh;
  height: 20px;
}

.cuadro__iconos {
  padding: 10px;
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: 90%;
}

.cuadro__iconos__icono {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
 
  height: 100px;
  background-color: aliceblue;
}

img {
  max-width: 100%;
}