.cuadro {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--navMenuWidth);
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Centra verticalmente los elementos */
    color: aliceblue;
}

.logo {
    width: 150px;
    height: 150px;
	  margin-top: 10px;
    background-image: url('src/assets/newLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.totalMoneyText{  
  margin-top: 10px;
	font-size: 12px;
}

.progressChart
{  
  margin-left: 10px;
  width: calc(var(--navMenuWidth) - 20px);
  height: 20px;
}

.cuadro__iconos {
  padding: 10px;
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: 90%;
}

.cuadro__iconos__icono {
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
 padding: 0px;
 
 border-radius: 4px;
  height: 100px;
  background-color: rgba(230, 2, 255, 0.467);
}

.cuadro__iconos__icono:active {
  transform: scale(0.96);
}


.cuadro__iconos__icono:hover {
  padding: 5px;
  transition: 0.1s;
  width: 90px;
  height: 90px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 5px;
}

.mat-progress-bar {
  height: 20px;
}