<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="apuestas de fútbol">
    <meta name="keywords" content="apuestas, fútbol, dinero, empate">
    <title>Página resumen de los empates en cada liga</title>
    <link rel="stylesheet" href="personaldata.component.css">
</head>

<body>
    <div class="botton__container">
        <button type="button" (click)="logout()">LogOut</button>
    </div>
    <form class="my-form" (submit)="updatePersonalData()">
        <div class="form-group">
            <label for="username">Usuario de Winamax:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" value="{{username}}">
        </div>

        <div class="form-group">
            <label for="password">Contraseña de Winamax:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" value="{{password}}">
        </div>

        <div class="form-group">
            <label for="startbettingmoney">Primera apuesta en €:</label>
            <input type="text" id="startbettingmoney" name="startbettingmoney" [(ngModel)]="startbettingmoney" value="{{startbettingmoney}}">
        </div>

        <div class="form-group">
            <label for="telegramHash">Telegram Hash:</label>
            <input type="text" id="telegramHash" name="telegramHash" [(ngModel)]="telegramHash" value="{{telegramHash}}">
        </div>

        <div class="form-group">
            <label for="objetivo">objetivo:</label>
            <input type="text" id="objetivo" name="objetivo" [(ngModel)]="objetivo" value="{{objetivo}}">
        </div>

        <button type="submit">Actualizar</button>
    </form>

</body>