<body> 
    <main>
        <div class="container">
            <app-tarjetitas class="component" img="euro_symbol" text = "Importe Total Apostado" [value]="ImporteTotalApostado"></app-tarjetitas>
            <app-tarjetitas class="component" img="percent" text = "ROI" [value]="ROI"></app-tarjetitas>
            <app-tarjetitas class="component" img="percent" text = "Exito" [value]="Exito"></app-tarjetitas>
            <app-tarjetitas class="component" img="insert_emoticon" text = "Apuestas Ganadoras" [value]="ApuestasGanadoras"></app-tarjetitas>
            <app-tarjetitas class="component" img="sentiment_very_dissatisfied" text = "Apuestas Perdedoras" [value]="ApuestasPerdedoras"></app-tarjetitas>
            <app-tarjetitas class="component" img="trending_up" text = "Apuesta Máxima" [value]="MaxOdd"></app-tarjetitas>
            <app-tarjetitas class="component" img="trending_down" text = "Apuesta Mínima" [value]="MinOdd"></app-tarjetitas>
            <app-tarjetitas class="component" img="trending_flat" text = "Apuesta Media" [value]="AverageOdd"></app-tarjetitas>
            <app-tarjetitas class="component" img="notification_important" text = "Importe Máximo" [value]="MaxImporte"></app-tarjetitas>
            <app-tarjetitas class="component" img="trending_flat" text = "Importe Medio" [value]="ImporteMedio"></app-tarjetitas>
        </div>  
    </main>      
</body>

