<body> 
    <main>
        <div class="container">
            <app-tarjetitas class="component" img="assets/logo-resumen.png" text = "Importe Total Apostado" [value]="ImporteTotalApostado"></app-tarjetitas>
            <app-tarjetitas class="component" text = "ROI" [value]="ROI"></app-tarjetitas>
            <app-tarjetitas class="component" text = "Exito" [value]="Exito"></app-tarjetitas>
            <app-tarjetitas class="component" text = "Apuestas Ganadoras" [value]="ApuestasGanadoras"></app-tarjetitas>
            <app-tarjetitas class="component" text = "Apuestas Perdedoras" [value]="ApuestasPerdedoras"></app-tarjetitas>
            <app-tarjetitas class="component" text = "Apuesta Máxima" [value]="MaxOdd"></app-tarjetitas>
            <app-tarjetitas class="component" text = "Apuesta Mínima" [value]="MinOdd"></app-tarjetitas>
            <app-tarjetitas class="component" text = "Apuesta Media" [value]="AverageOdd"></app-tarjetitas>
            <app-tarjetitas class="component" text = "Importe Máximo" [value]="MaxImporte"></app-tarjetitas>
            <app-tarjetitas class="component" text = "Importe Medio" [value]="ImporteMedio"></app-tarjetitas>
        </div>  
    </main>      
</body>

