
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" >
        <title>DrawBet</title>
        <noscript>
            <p>instala el js</p>
        </noscript>
    </head>
    

    <div class="navbar__div" *ngIf="isLoggedIn">
        <app-navbar></app-navbar>
    </div> 
    <router-outlet></router-outlet>

        <!-- <div id="loader" class="loader">
            <img src="../assets/loader2.gif" width='50' height='50'><br>
            Tumbling down the rabbit hole...
        </div> -->
        
        

        <!--          
                        <div class="dropdown-content">
                            <a role="button" (click)="onSelected('SP1')">Spain</a>
                            <a role="button" (click)="onSelected('SP2')">Spain 2</a>
                            <a role="button" (click)="onSelected('ROU')">Romania</a>
                            <a role="button" (click)="onSelected('POL')">Poland</a>
                            <a role="button" (click)="onSelected('P1')">Portugal</a>
                            <a role="button" (click)="onSelected('G1')">Greece</a>
                            <a role="button" (click)="onSelected('CROA')">Croatia</a>
                            <a role="button" (click)="onSelected('HUN')">Hungary</a>
                            <a role="button" (click)="onSelected('COL')">Colombia</a>
                            <a role="button" (click)="onSelected('CHIL')">Chile</a>
                            <a role="button" (click)="onSelected('ESLOVENIA')">Slovenia</a>
                            <a role="button" (click)="onSelected('LETONIA')">Latvia</a>
                            <a role="button" (click)="onSelected('SERBIA')">Serbia</a>
                            <a role="button" (click)="onSelected('AUSTRALIA')">Australia</a>
                            <a role="button" (click)="onSelected('BULGARIA')">Bulgaria</a>
                            <a role="button" (click)="onSelected('GIBRALTAR')">Gibraltar</a>
                            <a role="button" (click)="onSelected('AZERBAIYAN')">Azerbaijan</a>
                            <a role="button" (click)="onSelected('URU')">Uruguay</a>
                            <a role="button" (click)="onSelected('HONGKONG')">Hong Kong</a>
                            <a role="button" (click)="onSelected('INDIA')">India</a>
                            <a role="button" (click)="onSelected('PERU')">Peru</a>
                        </div>
 
                    
                    <button type="button" (click)="updateCVSs()">Update CSVs</button>
                </div>   
            </div>
        </span>   -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</html>