<app-navbar></app-navbar>


<div *ngIf="false">
    <app-yearcomparison [leagueName]="leagueName"></app-yearcomparison>
</div>



<button type="button" (click)="updateCVSs()">Update CSVs</button>
<div></div>
<button type="button" (click)="compareYears()" style="margin-right: 10px;">Compare</button>
<app-charts [league]="selectedLeague" [usersNetMoney]="userNetMoneySelectedObject"  [showInfoLeague]="true"></app-charts>
<app-filteringslicer [league]="selectedLeague"></app-filteringslicer>
<app-fixtureinfo [league]="selectedLeague"></app-fixtureinfo>
<app-weekdaydrawinfo [league]="selectedLeague"></app-weekdaydrawinfo>