<body>
    <main>
        <div class="container_menu">
            <div class="radio-inputs">
                <label class="radio">
                    <input (click)="showLeagueStats()" type="radio" name="radio" checked="">
                    <span class="name">Estadísticas</span>
                </label>
                <label class="radio">
                    <input (click)="showTeamStats()" type="radio" name="radio">
                    <span class="name">Equipos</span>
                </label>
                <label class="radio">
                    <input (click)="showWeekStats()" type="radio" name="radio">
                    <span class="name">Semana</span>
                </label>
            </div>
            <div class="league_menu">
                <div [hidden]="!leagueStats">

                    <div class="dropdown">
                        <button class="dropbtn">Season</button>
                        <div class="dropdown-content">
                            <a role="button" (click)="onSelectedSeason('2023-2024')">2023-2024</a>
                            <a role="button" (click)="onSelectedSeason('2022-2023')">2022-2023</a>
                            <a role="button" (click)="onSelectedSeason('2021-2022')">2021-2022</a>
                            <a role="button" (click)="onSelectedSeason('2020-2021')">2020-2021</a>
                            <a role="button" (click)="onSelectedSeason('2019-2020')">2019-2020</a>
                        </div>
                    </div>
                    <div class="button-container">
                        <div class="toggle-border">
                            <input (click)="compareYears()" id="one" type="checkbox">
                            <label for="one">
                                <div class="handle"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container_info">
            Apostar en esta liga
            <label class="container">
                <input type="checkbox" [(ngModel)]="isChecked" [checked]="isChecked">
                <svg viewBox="0 0 64 64" height="2em" width="2em">
                    <path
                        d="M 0 16 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 16 L 32 48 L 64 16 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 16"
                        pathLength="575.0541381835938" class="path"></path>
                </svg>
            </label>
            Es recomendado apostar en esta liga
            <label class="container">
                <input type="checkbox" [(ngModel)]="isBettingRecommended" [checked]="isBettingRecommended" disabled>
                <svg viewBox="0 0 64 64" height="2em" width="2em">
                    <path
                        d="M 0 16 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 16 L 32 48 L 64 16 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 16"
                        pathLength="575.0541381835938" class="path"></path>
                </svg>
            </label>
            Racha seleccionada: {{info.selectedNNoDrawsStreak}}
            Racha recomendada: {{info.recommendedNNoDrawsStreak}}
        </div>



        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <!-- <mat-icon>more_vert</mat-icon> -->
            <span>Leagues</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of leagueNames" (click)="onSelected(item)">
                <mat-icon>flag</mat-icon>
                <span>{{item}}</span>
            </button>
        </mat-menu>




        <div class="container__principal">
            <div [hidden]="!leagueStats">
                <div *ngIf="display">
                    <app-yearcomparison [leagueName]="leagueName"></app-yearcomparison>
                </div>
                <app-charts [league]="selectedLeague" [usersNetMoney]="userNetMoneySelectedObject"
                    [showInfoLeague]="true"></app-charts>
            </div>


            <!-- <app-filteringslicer [league]="selectedLeague"></app-filteringslicer> -->

            <div [hidden]="!teamsStats">
                <app-fixtureinfo [league]="selectedLeague"></app-fixtureinfo>
            </div>

            <div [hidden]="!weekStats">
                <app-weekdaydrawinfo [league]="selectedLeague"></app-weekdaydrawinfo>
            </div>
        </div>
    </main>
</body>