body {
  padding-left: 20px;
  padding-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    display: block;
    justify-content: center;  
}

main{
    margin-left: var(--navMenuWidth); 
    width: calc(100% - var(--navMenuWidth));
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
}

.button-container {
  margin-left: 8px;
	display: inline-block;
}
  
.button {
	margin-right: 10px; /* Espacio entre los botones */
}

.container__principal
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 80%;
}

.dropdown {
    display: inline-block;
    position: relative;
}


/* Dropdown Button */
.dropbtn {
    background-color: #8304aa00;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 16px;
    border: solid;
    border-radius: 8px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  cursor: pointer;
    background-color: #d000ff26;
}




.toggle-border {
    border: 2px solid #f0ebeb;
    border-radius: 130px;
    margin-bottom: 45px;
    padding: 1px 2px;
    background: linear-gradient(to bottom right, white, rgba(220,220,220,.5)), white;
    box-shadow: 0 0 0 2px #fbfbfb;
    cursor: pointer;
    display: flex;
    align-items: center;
   }
   
   .toggle-border:last-child {
    margin-bottom: 0;
   }
   
   .toggle-border input[type="checkbox"] {
    display: none;
   }
   
   .toggle-border label {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 20px;
    background: #d13613;
    border-radius: 80px;
    cursor: pointer;
    box-shadow: inset 0 0 16px rgba(0,0,0,.3);
    transition: background .5s;
   }
   
   .toggle-border input[type="checkbox"]:checked + label {
    background: #13d162;
   }
   
   .handle {
    position: absolute;
    top: -8px;
    left: -10px;
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    background: repeating-radial-gradient(circle at 50% 50%, rgba(200,200,200,.2) 0%, rgba(200,200,200,.2) 2%, transparent 2%, transparent 3%, rgba(200,200,200,.2) 3%, transparent 3%), conic-gradient(white 0%, silver 10%, white 35%, silver 45%, white 60%, silver 70%, white 80%, silver 95%, white 100%);
    border-radius: 50%;
    box-shadow: 3px 5px 10px 0 rgba(0,0,0,.4);
    transition: left .4s;
   }
   
   .toggle-border input[type="checkbox"]:checked + label > .handle {
    left: calc(100% - 35px + 10px);
   }




   .radio-inputs {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
	background-color: #EEE;
	box-sizing: border-box;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
	padding: 0.25rem;
	width: 100%;
	font-size: 14px;
  }
  
  .radio-inputs .radio {
	flex: 1 1 auto;
	text-align: center;
  }
  
  .radio-inputs .radio input {
	display: none;
  }
  
  .radio-inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	border: none;
	padding: .5rem 0;
	color: rgba(51, 65, 85, 1);
	transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
	background-color: #fff;
	font-weight: 600;
  }


  .container_menu {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .league_menu {
    margin-left: auto;
    display: inline-block;
  }

  .container_info
  {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0); /* Ancho de 2px y estilo solid */
    color: white;
    
  }
  .container_info_box
  {
    display: flex;

  }


  .container {
    display: flex;
    /* align-items: center; */
  }
  
  .left{
    margin-top: "0px";
    flex: 1;
    text-align: right;
  }
  
  .right{
    
    margin-top: "0px";
    flex: 1;
    text-align: left;

  }
  
  .divider {
    margin: 0 20px;
  }
  

  
  .container {
    cursor: pointer;
  }
  
  .container input {
    display: none;
  }
  
  .container svg {
    overflow: visible;
  }
  
  .path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
  }
  
  .container input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
  }
  

  .leagues_menu{
    color: white;
    background-color: #fff;    
    display: flex;
    width: 100px;
  }

  .container__secundario{
    display: flex;
  }

  a {
    cursor: pointer;
  }




  





  