<div class="ptable">
    <!-- <h1 class="headin">Standings</h1> -->
    <table>
        <tr class="col">
            <th>Total</th>
            <th>{{weekDayInfo.Total}}%</th>
            <th>Draws Count</th>
            <th>Total Matches</th>
        </tr>
        <tr class="wpos">
            <td>Monday</td>
            <td>{{weekDayInfo.Monday}}%</td>
            <td>{{weekDayInfo.MondayDraws}}</td>
            <td>{{weekDayInfo.MondayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Tuesday</td>
            <td>{{weekDayInfo.Tuesday}}%</td>
            <td>{{weekDayInfo.TuesdayDraws}}</td>
            <td>{{weekDayInfo.TuesdayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Wednesday</td>
            <td>{{weekDayInfo.Wednesday}}%</td>
            <td>{{weekDayInfo.WednesdayDraws}}</td>
            <td>{{weekDayInfo.WednesdayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Thursday</td>
            <td>{{weekDayInfo.Thursday}}%</td>
            <td>{{weekDayInfo.ThursdayDraws}}</td>
            <td>{{weekDayInfo.ThursdayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Friday</td>
            <td>{{weekDayInfo.Friday}}%</td>
            <td>{{weekDayInfo.FridayDraws}}</td>
            <td>{{weekDayInfo.FridayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Saturday</td>
            <td>{{weekDayInfo.Saturday}}%</td>
            <td>{{weekDayInfo.SaturdayDraws}}</td>
            <td>{{weekDayInfo.SaturdayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Sunday</td>
            <td>{{weekDayInfo.Sunday}}%</td>
            <td>{{weekDayInfo.SundayDraws}}</td>
            <td>{{weekDayInfo.SundayMatches}}</td>
        </tr>
    </table>
</div>

