<div class="ptable">
    <!-- <h1 class="headin">Standings</h1> -->
    <table>
        <tr class="col">
            <th>Total</th>
            <th>{{weekDayInfo.Total}}%</th>
            <th>Empates</th>
            <th>Número de Partidos</th>
        </tr>
        <tr class="wpos">
            <td>Lunes</td>
            <td>{{weekDayInfo.Monday}}%</td>
            <td>{{weekDayInfo.MondayDraws}}</td>
            <td>{{weekDayInfo.MondayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Martes</td>
            <td>{{weekDayInfo.Tuesday}}%</td>
            <td>{{weekDayInfo.TuesdayDraws}}</td>
            <td>{{weekDayInfo.TuesdayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Miercoles</td>
            <td>{{weekDayInfo.Wednesday}}%</td>
            <td>{{weekDayInfo.WednesdayDraws}}</td>
            <td>{{weekDayInfo.WednesdayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Jueves</td>
            <td>{{weekDayInfo.Thursday}}%</td>
            <td>{{weekDayInfo.ThursdayDraws}}</td>
            <td>{{weekDayInfo.ThursdayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Viernes</td>
            <td>{{weekDayInfo.Friday}}%</td>
            <td>{{weekDayInfo.FridayDraws}}</td>
            <td>{{weekDayInfo.FridayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Sábado</td>
            <td>{{weekDayInfo.Saturday}}%</td>
            <td>{{weekDayInfo.SaturdayDraws}}</td>
            <td>{{weekDayInfo.SaturdayMatches}}</td>
        </tr>
        <tr class="wpos">
            <td>Domingo</td>
            <td>{{weekDayInfo.Sunday}}%</td>
            <td>{{weekDayInfo.SundayDraws}}</td>
            <td>{{weekDayInfo.SundayMatches}}</td>
        </tr>
    </table>
</div>

