<body>
    <main>
        <button mat-button class="btn-delete" (click)="addBet()">
            <mat-icon>add_circle</mat-icon>
        </button>

        <div class="tablas">
            <div class="ptable">
                <table>
                    <thead>
                        <tr class="col">
                            <!-- <th> </th> -->
                            <th>Partido</th>
                            <th>Liga</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of infoBetObjets | keyvalue">
                            <tr class="wpos" *ngFor="let valor of item.value; index as i">
                                <!-- <td>{{i+1}}</td> -->
                                <td>{{valor.match}}</td>
                                <td>{{valor.league}}</td>
                                <td>{{valor.date}}</td>
                                <td><mat-icon (click)="onSettingsClick(valor.id)">settings</mat-icon></td>
                                <td><mat-icon (click)="onDeleteClick(valor.id)">delete</mat-icon> </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        
    </main>
</body>
