<body>
    <main>
        <div class="button-container">
            <button class="button" (click)="showTotalProfit()">Beneficio Total</button>
            <button class="button" (click)="showLeagueProfit()">Liga stats</button>
        </div>

        <div class="container__principal">

            <div [hidden]="!totalProfit">
                <app-charts [league]="selectedLeague" [usersNetMoney]="userNetMoneySelectedObject" [showInfoLeague]="false"></app-charts>
            </div>

            <div class="tablas">
                <div [hidden]="!leagueStats">
                    <div class="ptable">
                        <table>
                            <tr class="col">
                                <th> </th>
                                <th (click)="sortTableByLiga()"             >Liga</th>
                                <th (click)="sortTableByProfit()"           >Balance en €</th>
                                <th (click)="sortTableByCurrentStrike()"    >Racha Actual</th>
                                <th (click)="sortTableByDrawPercentaje()">% empates</th>
                            </tr>
                            <tr class="wpos" *ngFor="let item of leaguesNetIncome | keyvalue:returnZero; index as i">
                                <td>{{i+1}}</td>
                                <td>{{getKey(item.value)}}</td>
                                <td>{{getValue(item.value)}}</td>
                                <td>{{leaguesNoDrawStreakDict[getKey(item.value)]}}</td>
                                <td>{{leaguesDrawPercentajeDict[getKey(item.value)]}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>