<button type="button" (click)="logout()">LogOut</button>
<div></div>
<button type="button" (click)="personalData()">Me personal Data</button>

<div *ngIf="display">
    <app-yearcomparison [leagueName]="league"></app-yearcomparison>
</div>

<div class="leftdiv">
    <div class="dropdown">
        <button class="dropbtn">Leagues</button>
        <div class="dropdown-content">
            <a role="button" (click)="onSelected('SP1')">Spain</a>
            <a role="button" (click)="onSelected('SP2')">Spain 2</a>
            <a role="button" (click)="onSelected('ROU')">Romania</a>
            <a role="button" (click)="onSelected('POL')">Poland</a>
            <a role="button" (click)="onSelected('P1')">Portugal</a>
            <a role="button" (click)="onSelected('G1')">Greece</a>
            <a role="button" (click)="onSelected('CROA')">Croatia</a>
            <a role="button" (click)="onSelected('HUN')">Hungary</a>
            <a role="button" (click)="onSelected('COL')">Colombia</a>
            <a role="button" (click)="onSelected('CHIL')">Chile</a>
            <a role="button" (click)="onSelected('ESLOVENIA')">Slovenia</a>
            <a role="button" (click)="onSelected('LETONIA')">Latvia</a>
            <a role="button" (click)="onSelected('SERBIA')">Serbia</a>
            <a role="button" (click)="onSelected('AUSTRALIA')">Australia</a>
            <a role="button" (click)="onSelected('BULGARIA')">Bulgaria</a>
            <a role="button" (click)="onSelected('GIBRALTAR')">Gibraltar</a>
            <a role="button" (click)="onSelected('AZERBAIYAN')">Azerbaijan</a>
            <a role="button" (click)="onSelected('URU')">Uruguay</a>
            <a role="button" (click)="onSelected('HONGKONG')">Hong Kong</a>
            <a role="button" (click)="onSelected('INDIA')">India</a>
            <a role="button" (click)="onSelected('PERU')">Peru</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Season</button>
        <div class="dropdown-content">
            <a role="button" (click)="onSelectedSeason('2022-2023')">2022-2023</a>
            <a role="button" (click)="onSelectedSeason('2021-2022')">2021-2022</a>
            <a role="button" (click)="onSelectedSeason('2020-2021')">2020-2021</a>
            <a role="button" (click)="onSelectedSeason('2019-2020')">2019-2020</a>
        </div>
    </div>

    <div *ngIf="showInfoLeague">
        <button type="button" (click)="updateCVSs()">Update CSVs</button>
        <div></div>
        <button type="button" (click)="compareYears()" style="margin-right: 10px;">Compare</button>
    </div>

    <app-charts [league]="selectedLeague" [usersNetMoney]="userNetMoneySelectedObject"
        [showInfoLeague]="showInfoLeague"></app-charts>
    <div *ngIf="!showInfoLeague">
        <div class="tabla">
            <table>
                <tr class="col">
                    <th>#</th>
                    <th>Liga</th>
                    <th>% Empates</th>
                </tr>
                <tr class="wpos" *ngFor="let item of leaguesDrawPercentaje | keyvalue; index as i">
                    <td>{{i+1}}</td>
                    <td>{{getKey(item.value)}}</td>
                    <td>{{getValue(item.value)}}</td>
                </tr>
            </table>
        </div>

        <div class="ptable">
            <table>
                <tr class="col">
                    <th>#</th>
                    <th>Liga</th>
                    <th>Actual Racha</th>
                </tr>
                <tr class="wpos" *ngFor="let item of leaguesNoDrawStreak | keyvalue; index as i">
                    <td>{{i+1}}</td>
                    <td>{{getKey(item.value)}}</td>
                    <td>{{getValue(item.value)}}</td>
                </tr>
            </table>
        </div>

        <div class="ptable">
            <table>
                <tr class="col">
                    <th>#</th>
                    <th>Liga</th>
                    <th>Balance en €</th>
                </tr>
                <tr class="wpos" *ngFor="let item of leaguesNetIncome | keyvalue; index as i">
                    <td>{{i+1}}</td>
                    <td>{{getKey(item.value)}}</td>
                    <td>{{getValue(item.value)}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="rightdiv">
    <div *ngIf="showInfoLeague">
        <app-filteringslicer [league]="selectedLeague"></app-filteringslicer>
        <app-fixtureinfo [league]="selectedLeague"></app-fixtureinfo>
        <app-weekdaydrawinfo [league]="selectedLeague"></app-weekdaydrawinfo>
    </div>
</div>

<!-- </div> -->