<body>
    <main>
        <!-- <div class="radio-inputs">
            <label class="radio">
              <input (click)="showTotalProfit()" type="radio" name="radio" checked="">
              <span class="name">Beneficio Total</span>
            </label>
            <label class="radio">
              <input (click)="showLeagueProfit()" type="radio" name="radio">
              <span class="name">Liga stats</span>
            </label>
        </div> -->

        <div class="container__principal">

            <!-- <div [hidden]="!totalProfit"> -->
                <app-charts [league]="selectedLeague" [usersNetMoney]="userNetMoneySelectedObject" [showInfoLeague]="false"></app-charts>
            <!-- </div> -->

            <div class="tablas">
                <!-- <div [hidden]="!leagueStats"> -->
                    <div class="ptable">
                        <table>
                            <tr class="col">
                                <th> </th>
                                <th (click)="sortTableByLiga()"                 >Liga</th>
                                <th (click)="sortTableByProfit()"               >Beneficio</th>
                                <th (click)="sortTableByCurrentStrike()"        >Racha Actual</th>
                                <th (click)="sortTableByRachaSeleccionada()"    >Racha Seleccionada</th>
                                <th                                             >Apostar en esta liga</th>
                                <th (click)="sortTableByDrawPercentaje()"       >Empates</th>
                            </tr>
                            <tr class="wpos" *ngFor="let item of leaguesNetIncome | keyvalue:returnZero; index as i">
                                <td>{{i+1}}</td>
                                <td><a (click)="onSelectedLeague(getKey(item.value))" class="enlace">{{getKey(item.value)}}</a></td>
                                <td>{{getValue(item.value)}}</td>
                                <td>{{leaguesNoDrawStreakDict[getKey(item.value)]}}</td>
                                <td>
                                    <input type="number" value={{responseJson.selectedNDrawStreakByLeague[getKey(item.value)]}} (input)="onInputChange($any($event).target.value, getKey(item.value))" style="background-color: rgba(255, 255, 255, 0.2);" class="input" />
                                </td>
                                <td>
                                    <!-- <mat-icon *ngIf="responseJson.betIntheLeague[getKey(item.value)]; else notDoneIcon">done</mat-icon>
                                    <ng-template #notDoneIcon><mat-icon>close</mat-icon></ng-template> -->
                                    <mat-slide-toggle [(ngModel)]=responseJson.betIntheLeague[getKey(item.value)] (change)="onInputChangeBetOnLeague($event.checked, getKey(item.value))" ></mat-slide-toggle>
                                </td>
                                <td>{{leaguesDrawPercentajeDict[getKey(item.value)]}} %</td>
                                
                            </tr>
                        </table>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </main>
</body>