/* You can add global styles to this file, and also import other style files */
body {
        margin: 0;
    background-image: url("src/assets/fondo_estadio.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
